@import './variables.scss';

.footer {
  border-top: 1px solid $color-grey-dark-1;
  background-color: $color-grey-dark-1;
  color: $color-white;
  display: flex;

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
  }
}